@model MVCWeb.Models.Equipments.EquipmentViewModel
<table>
    <tr>
        <td rowspan="2">
            设备产权单位
        </td>
        <td rowspan="2">
        </td>
        <td>
            负责人
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            联系电话
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            设备生产厂
        </td>
        <td>
        </td>
        <td>
            设计单位
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            设备管理部门
        </td>
        <td rowspan="2">
        </td>
        <td>
            地址
        </td>
        <td>
            太原市金刚堰路44号
        </td>
    </tr>
    <tr>
        <td>
            联系电话
        </td>
        <td>
        </td>
    </tr>
</table>
起重设备名称：_______________________________
<br />
起重设备备案编号：_________________________________
<table>
    <tr>
        <td>
            型号
        </td>
        <td>
        </td>
        <td>
            合格证号
        </td>
        <td>
        </td>
        <td>
            出厂日期
        </td>
        <td>
        </td>
        <td>
            出厂代号
        </td>
    </tr>
</table>
发证机关：_________________________<br />
发证时间： ____________________