@{
    ViewBag.Title = "ApplyForm";
}
<h2>
    ApplyForm</h2>
太原市起重机械使用备案申请登记表
<table>
    <tr>
        <th>
        </th>
        <td colspan="2">
        </td>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
        </td>
        <th>
        </th>
        <td>
        </td>
        <th>
        </th>
        <td>
        </td>
    </tr>
    <tr>
        <th rowspan="2">
        </th>
        <td colspan="2" rowspan="2">
        </td>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th rowspan="2">
        </th>
        <td colspan="2" rowspan="2">
        </td>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th rowspan="2">
        </th>
        <td colspan="2" rowspan="2">
        </td>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th rowspan="2">
        </th>
        <td colspan="2" rowspan="2">
        </td>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <td colspan="2">
        </td>
        <td colspan="2">
        </td>
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <td colspan="2">
        </td>
        <td colspan="2">
        </td>
        <td colspan="2">
        </td>
    </tr>
</table>
注：此表一式六份。市安监站、施工总承包单位、产权单位、安装单位、监理单位、检测单位各一份 以检测合格报告的检测日期为准30日内持《山西省建筑起重机械备案使用登记证书》操作人员证件到安监站领取起重机械登记证
