@{
    ViewBag.Title = "太原市建筑安全监督管理站特种设备管理系统";
}

<ul class="hp4Imgs">
    <li><img src="/Images/EquipmentRegister.png"</li>
    <li><img src="/Images/Register.png"</li>
    <li><img src="/Images/print.png"</li>
    <li><img src="/Images/feedback.png"</li>
</ul>
<div class="ClearBoth"></div>