@{
    ViewBag.Title = "show";
}

<table border="1" width="100%" style="text-align:center;border-collapse:collapse">
<tr> 
<th>id</th> 
<th>姓名</th> 
<th>部门</th> 
</tr> 
@foreach (var item in Model)
{ 

<tr> 
<td>@item.id</td> 
<td>@item.name</td> 
<td>@item.dep</td> 
</tr> 

}

</table>